---
import {formatPhoneNumber, removeHttpPrefix} from "@/utils/utils.js"
import {basics} from "@/cv.json"
import X from "@/components/icons/X.astro"
import LinkedIn from '@/components/icons/LinkedIn.astro'
import GitHub from '@/components/icons/GitHub.astro'
import Mail from '@/components/icons/Mail.astro'
import Phone from '@/components/icons/Phone.astro'
import WorldMap from '@/components/icons/WorldMap.astro'

const {name, label, image, location, profiles, phone, email, url, summary} = basics
const {city, region, countryCode} = location



// Modificamos variables para mostrarlas correctamente en el front

let onlyPhone = formatPhoneNumber(phone);
let onlyWeb = removeHttpPrefix(url);


const SOCIAL_ICONS: Record<string, any> = {
   X,
   LinkedIn,
   GitHub
}

---

<header class="flex justify-center flex-col md:flex-row md:items-center md:justify-between gap-4 my-10">
   <div class="flex flex-col md:items-start">
      <div>
         <!-- <span class="text-gray-500">{countryCode}, {city}, {region}</span> -->
         <h1 class="font-bold">{name}</h1>

      </div>
      <p class="text-gray-700 font-light">{label}</p>
      <div class="flex gap-4 mt-4">
         {
            profiles.map(( {network, url, username}) => {
               const Icon = SOCIAL_ICONS[network]
               return (
                  <a
                     href={url}
                     title={`Visitar el perfil de ${name} en ${network}`}
                     target="_blank"
                     rel="noopener noreferrer"
                  >
                     <Icon width="28" height="28" />
                  </a>
               )
            })
         }
      </div>
   </div>
   <div>
      <ul class="flex flex-col gap-1">
         <li>
         {
            email && (
               <a
                  href={`mailto:${email}`}
                  title={`Enviar un correo electrónico a ${name} al correo ${email}`}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="flex items-center gap-2"
               >
                  <Mail />
                  <span>{email}</span>
               </a>

            )
         }
         </li>
         <li>
            {
               phone && (
                  <a
                     href={`tel:${phone}`}
                     title={`Llamar por teléfono a ${name} al número ${phone}`}
                     target="_blank"
                     rel="noopener noreferrer"
                     class="flex items-center gap-2"
                  >
                     <Phone />
                     <span>{onlyPhone}</span>
                  </a>


               )
            }
            </li>
            <li>
               {
                  url && (
                     <a
                        href={`${url}`}
                        title={`Acceder a la web ${url}`}
                        target="_blank"
                        rel="noopener noreferrer"
                        class="flex items-center gap-2"
                     >
                        <WorldMap />
                        <span>{onlyWeb}</span>
                     </a>


                  )
               }
               </li>



<!--          {
            profiles.map(( {network, url, username}) => {
               const Icon = SOCIAL_ICONS[network]
               return (
                  <li>
                     <a
                        href={url}
                        title={`Visitar el perfil de ${name} en ${network}`}
                        target="_blank"
                        rel="noopener noreferrer"
                        class="flex items-center gap-2"
                     >
                        <Icon />
                        <span>{username}</span>
                     </a>
                  </li>
               )

            })
         } -->
       </ul>
   </div>
</header>
<section class="">
   <div class="my-10">
      <p>{summary}</p>
   </div>
</section>


<style scoped>
   h1 {
      font-size: clamp(3rem, 4vw + 1rem, 4rem);
   }
</style>
